{% extends 'blog/base.html' %}

{% block content %}

	
	<h1>About this site</h1>

	<p>First things first, thank you for taking the time out of your precious day to have a look at my website.</p>
	
	<p>Perhaps you are wondering what exactly this website is, and what its purpose is. To be frank - as of this moment - I don't really have a clue either. 
	This started off as myself procrastinating work by attempting to build a website, and for the moment that is the destiny of this site. 
	It is just a place for me to waste time that could be spent on other matters, and also to try and teach myself a bit of Django, CSS, HTML and other things along the way.</p>
	
	<p>So, I hope you enjoy whatever may be currently residing on these interesting ( or not ) web pages. </p>

	

{% endblock %}