{% extends 'blog/base.html' %}


{% block content %}


	<div class="home-block">

	<h1><b>Welcome</b></h1>

	<hr>
	
	<p>Welcome to Lethargic Bliss. The purpose of this website is exactly as the name hints; it is a little piece of the internet to call my own and tinker with whatever I may like. This usually comes in the form of playing with the design of the site, and posting on the blog.</p>
	<p>Feel free to browse around, and I hope you enjoy whatever you may find.</p>
	
	<hr>
	
	<br />

	<img src="/static/images/space.jpg" alt="Pretty space concept" width="640px" height="360px">
	<br />
	<br />
	<p>Pretty cool picture, right?</p>
	
	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
	
	</div>

	<br/>


	<h1>Latest Posts</h1>
	<hr>

	<div class="feed">

	{% for post in feed %}
            <div class="post">
	


                <h1><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h1>
		
	        {% if post.image %}
	        <a href="{% url 'post_detail' slug=post.slug %}"><img src='{{ post.image.url }}' class ='img-responsive', width="300px" height="300px" /></a>
	        {% endif %}
		<br/>
                <div class = 'content-markdown'> <p>{{ post.text|truncatechars:1250 }}</p> </div>
	        <a href="{% url 'post_detail' slug=post.slug %}">Comments: {{ post.comments.count }}</a>
	        <div class="date">
                    {{ post.published_date }}
                </div>

            </div>
	{% endfor %}
	</div>


{% endblock %}