{% extends 'blog/base.html' %}

{% block content %}

	
	<h1><b>Welcome</b></h1>

	<hr>
	
	<p>Welcome to Lethargic Bliss. The purpose of this website is exactly as the name hints; it is a little piece of the internet to call my own and tinker wiht whatever I may like. This usually comes in the form of playing with the design of the site, and posting on the blog.</p>
	<p>Feel free to browse around, and I hope you enjoy whatever you may find.</p>
	
	<hr>

	<p>"Insert stuff relevant to a home page here".</p>

	<div>"Maybe put latest 3 blog posts here."</div>
	
	<hr>

	<img src="/static/images/tree_test.jpg" alt="A pretty cool tree" width="400px" height="299px">
	<br />
	<br />
	<p>Pretty cool tree, right?</p>
	

{% endblock %}