{% extends 'blog/base.html' %}

{% block content %}

 <h1><b>Draft List</b></h1>	

    <hr>
	
    <br/>


    {% for post in posts %}
        <div class="post">
	
	    <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>


	    {% if post.image %}
	    <img src='{{ post.image.url }}' class ='img-responsive', width="600px" height="600px" />
	    {% endif %}

            
            <h2><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
            <div class = 'content-markdown'> <p>{{ post.text|truncatechars:1250 }}</p> </div>
        </div>
    {% endfor %}
{% endblock %}

