{% extends 'blog/base.html' %}

{% block content %}

    <br/>

    <h1><b>Blog Posts</b></h1>	

    <hr>
	
    <br/>

    <form method='GET' action=''>
    <input type='text' name='q' placeholder='Search posts'/>
    <input type='submit' value='Search'/>
    </form>

    <br/>

    {% for post in posts %}
        <div class="post">
	
	    {% if post.image %}
	    <a href="{% url 'post_detail' slug=post.slug %}"><img src='{{ post.image.url }}' class ='img-responsive', width="500px" height="500px" /></a> 
	    {% endif %}

            <h1><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h1>
            <div class = 'content-markdown'> <p>{{ post.text|truncatechars:1250 }}</p> </div>
	    <a href="{% url 'post_detail' slug=post.slug %}">Comments: {{ post.comments.count }}</a> 
	    <div class="date">
                {{ post.published_date }}
            </div>

        </div>
    {% endfor %}



{% endblock %}