<html>
    <head>
        <title>Declan's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Declan's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Yeah boi.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>A dank meme page this is.</p>
        </div>
    </body>
</html>